.flex-row{
    display: flex;
    gap:inherit;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap:inherit;
}
.wrap{
    flex-wrap: wrap;
}
.gap5{
    gap: 5px;
}
.gap10{
    gap:10px;
}
.gap30{
    gap:30px;
}
.nogap{
    gap: 0 !important;
}
.nopadding{
    padding: 0 !important;
}
.padding30{
    padding:30px;
}
.justify-start{
    justify-content: start;
}
.align-start{
    align-items: start;
}
.align-center{
    align-items: center;
}
.self-align-center{
    align-self: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.textalign-center{
    text-align: center;
}
.textalign-left{
    text-align: left;
}
.overflow-h{
    overflow: hidden;
}
.maxwidth100{
    max-width: 100%;
}
.maxwidth90{
    max-width: 90%;
}
.maxwidth450px{
    max-width: 450px;
}
.height-100po{
    min-height: 100%;
}
.height-100po-2{
    height: 100%;
}
.height-15{
    min-height: 15px;
}
.height-25{
    min-height: 25px;
}
.height-25{
    min-height: 25px;
}
.height-50{
    min-height: 50px;
}
.height-100{
    min-height: 100px;
}
.height-200{
    min-height: 200px;
}
.height-300{
    min-height: 300px;
}
.height-400{
    min-height: 400px;
}
.height-500{
    min-height: 500px;
}
.height-unset{
    height: unset;
}
.maxheight-600{
    max-height: 600px;
}
.scroll-y{
    overflow-y: auto;
}
.width-fitcontent{
    width: fit-content;
}
.width-50po{
    width: 50%;
}
.width-80po{
    width: 80%;
}
.width-100po{
    width: 100%;
}
.width-150po{
    width: 200%;
}
.width-200po{
    width: 200%;
}
.minwidth-300{
    min-width: 300px
}
.width-500{
    width: 500px
}
.grow-100{
    flex-grow: 1;
}
.grow-125{
    flex-grow: 1.25;
}
.grow-150{
    flex-grow: 1.50;
}
.grow-175{
    flex-grow: 1.75;
}
.grow-200{
    flex-grow: 2.00;
}
@media (max-width:760px){
    .flex-wrap-at-760{
        flex-wrap: wrap;
    }
    .flex-wrap-at-760.info-text-small{
        gap:10px;
    }
    .flex-wrap-at-760 #lottie-animation{
        align-self: center;
    }
    .flex-column-at-760{
        flex-direction: column !important;
        justify-content: center;
    }
}
@media (max-width:1000px){
    .flex-wrap-at-1000{
        flex-wrap: wrap;
    }
}
@media (max-width:900px){
    .flex-wrap-at-900{
        flex-wrap: wrap;
    }
}